.card {
  background: #fff;
  border-radius: 10px;
  height: 200px;
  margin-bottom: 8px;
  position: relative;
  width: 200px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  align-content: center;
  text-align: center;
}

.card>.img-container {
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background: lightgrey;
}

.card>.img-container>img {
  padding: 2px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card:hover {
  color: white;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .card {
    height: 75px;
    margin: 4px;
    position: relative;
    width: 75px;
    align-content: center;
    text-align: center;
  }

  .card>.img-container>img {
    padding: 0px;
  }
}