.card {
  background: #fff;
  border-radius: 2px;
  height: 200px;
  margin: 10px;
  position: relative;
  width: 200px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  align-content: center;
  text-align: center;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background: lightgrey;
}
.card > .img-container > img {
  padding: 5px;
  width: 100%;
  height: 100%;
}


