@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modalBody {
  font-size: 20px;
}

.modalHeader {
  text-align: center;
  font-weight: bold;
}

h2 {
  text-align: center;
  margin: 20px;
  font-family: 'PT Sans', sans-serif;
}

.content {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  align-content: center;
}