.nav {
  width: 100%;
  height: auto;
  font-size: 16px;
  padding: 20px;
}

li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.title, .score, .high-score {
  font-weight: bold;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
}

.background {
  background-color: #026635;
}