.nav {
  width: 100%;
  height: auto;
  font-size: 16px;
  padding: 20px;
}

li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.title, .score, .high-score {
  font-weight: bold;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
  font-size: 24px;
}

.background {
  background-color: #026635;
  box-shadow: 0 4px 8px rgb(180, 180, 180), 0 4px 8px rgb(180, 180, 180);
  margin-bottom: 12px;
}
